
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Toast card */
.toast {
    min-width: 280px;
    max-width: 350px;
    padding: 12px 16px;
    border-radius: 10px;
    color: #fff;
    backdrop-filter: blur(10px);
    background: rgba(30, 30, 30, 0.85);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    animation: slideIn 0.4s ease;
}

/* Header */
.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Body */
.toast-body {
    font-size: 13px;
    opacity: 0.9;
}

/* Close button */
.close-btn {
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
}
.close-btn:hover {
    opacity: 1;
}

/* Variants */
.toast-success {
    background-color: #22c55e ;
    border-left: 4px solid #22c55e;
}

.toast-error {
    background-color: #ef4444;
    border-left: 4px solid #ef4444;
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}